* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  	font-family: 'Abel', sans-serif;
}

.menu-container {
	display: flex;
	justify-content: center;
  	color: black;
  	background-color: #EEE4E1;  /* Blue */
  	padding-top: 10px;
  	padding-bottom: 10px;
  	font-weight: bold;
  	position: fixed;
  	width: 100%;	

}

.menu {
  	width: 900px;
  	display:flex;
  	justify-content: space-between;
  	font-size: 2em;
  }


.logo {
	height: 50px;
	width: 50px;
	padding: 0;
	margin: 0;
}


.header {
  width: 900px;
  height: 300px;
  display: flex;
  font-size: 2em;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 150px;
}

.opening {
	font-size: .5em;
	text-align: center;
}

.photo-grid-container {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
  background-color: #E6BEAE;
}

.photo-grid {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;

}


.firstcommentary {
	width: 75px;
	padding: 20px;
  font-weight: bold;
}

.pennsylvania {
	padding-top: 20px;
}

.tiff {
  overflow: hidden;
	border-radius: 50%;
}


.lastcommentary {
	width: 75px;
	padding: 20px;
  font-weight: bold;
	
}

.photo-grid-item {
  
  width: 300px;
  height: 300px;
  justify-content: space-around;
}

.header-container {
  color: black;
  background-color: #ECF8F8;
  display: flex;
  justify-content: space-around;
}

.hello {
	text-align: center;
	padding-bottom: 10px;
}



.aboutme-container {
	display: flex;
	justify-content: center;
	background-color: #EEE4E1;
	padding-top: 100px;
	padding-bottom: 100px;
}

.aboutme {
	width: auto;
  	display: flex;
  	justify-content: center;
  	flex-wrap: wrap;
  	flex-direction: row;
  	align-items: center;
  	text-align: center;
}

.icon {
	font-size: 15em;
}

.verbiage {
	width: 600px;
	font-size: 1.3em;
	padding-left: 60px;
  padding-right: 60px;
}

.education-container {
  display: flex;
  justify-content: center;
  background-color: #EEE4E1;
  padding-top: 40px;
  padding-bottom: 100px;
}

.education {
  width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  position: center;
}

.footer-item {
  background-color: #ECF8F8;
  height: 60px;
  flex: 1;
}

.social {
	font-size: 3em;
	text-align: center;
	word-spacing: 30px;
}

.footer-two {
	font-size: 3em;
	color:  black;
}

.footer-one,
.footer-three {
  background-color: #B2967D;
  flex: initial;
  width: 300px;
}

